.comment {

  &__data {
    display: flex;
    margin: 0 0 0.5em 0;
    align-items: center;

    &__username {
      margin: 0 0.5em 0 0;
      font-size: 1.2em;
      font-weight: 700;
    }
  
    &__date {
      font-size: 0.8em;
      color: #606C38;
    }
  }

  &__textcontent {
    margin: 0 0 0.5em 0;
  }
}
