.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__background {
    width: 100%;
  }

  &__welcome {
    background-color: #FCFBFE;
    border-radius: 0.3em;
    // position: relative;
    width: 90%;
    padding: 1em;
    text-align: center;

    h2 {
      color: #4b702d;
      font-size: 1.7em;
      margin: 0 0 0.5em 0;
    }

    p {
      font-size: 1.1em;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: #FCFBFE;
    border-radius: 0.2em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      color: #4b702d;
      font-size: 2em;
      font-weight: 700;
      margin: 0.5em 0;
    }

    &__elem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (min-width:1000px) {
  .homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__background {
      width: 100%;
    }
  
    &__welcome {
      background-color: #FCFBFE;
      border-radius: 0.2em;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      position: absolute;
      top: 20vw;
      width: 90%;
      padding: 1em;
      text-align: center;
  
      h2 {
        color: #4b702d;
        font-size: 1.7em;
        margin: 0 0 0.5em 0;
      }
  
      p {
        font-size: 1.1em;
      }
    }
  
    &__cards {
      width: 90%;
      background-color: #fcfbfe;
      border-radius: 0.2em;
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
        color: #4b702d;
        font-size: 2em;
        font-weight: 700;
        margin: 0.5em 0;
      }

      &__elem {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // (unité fr : fraction, est égal à une fraction du parent, doc : https://css-tricks.com/introduction-fr-css-unit/)
        grid-template-rows: auto;
        grid-gap: 0.05em;
      }
    }
  }
}
