.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__background {
    width: 100%;
  }

  &__welcome {
    background-color: white;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
    border-radius: 0.3em;
    position: relative;
    top: -5em;
    width: 90%;
    padding: 1em;
    text-align: center;

    h2 {
      color: #4b702d;
      font-size: 1.7em;
      margin: 0 0 0.5em 0;
    }

    p {
      font-size: 1.1em;
    }
  }

  &__cards {
    position: relative;
    top: -4em;
    width: 90%;
  }

  &__elem {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      color: #4b702d;
      font-size: 2em;
      font-weight: 700;
      margin: 0.5em 0;
    }
  }
}
