.profil {
  width: 100%;
  height: 88vh;
  max-width: 30em;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  &__avatar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;

    &__image {
      height: 5em;
      width: 5em;
      margin: 0 0.5em 0 0;
      object-fit: cover;
      border-radius: 100%;
    }

    & span {
      padding: 0 0.3em;
      font-weight: 700;
    }
  }

  &__data {
    width: 95%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.3em;
    border: #d2d2c6 0.13em solid;

    &__participations {
      display: flex;
      flex-direction: column;
    }
  }

  &__tag-title {
    font-size: 0.7em;
    color: #283618;
    margin: 0 0 0.3em 0;
  }

  &__tag-data {
    margin: 0 0 0.3em 0;

    &-link {
      display: flex;
      align-items: center;

      &:hover {
        color: #606c38;
      }

      &__icon {
        margin: 0 0 0 0.2em;
      }
    }
  }

  &__button {
    width: 50%;
    max-width: 20em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2em;
    color: #fff;
    background-color: #283618;
    margin: 1rem auto;
    margin-bottom: 2rem;
  }
}
