.profil {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 20em;
  height: 100%;
  max-height: 30em;
  margin: auto;

  &__title {
    text-align: center;
    color: #4b702d;
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em 0;
  }

  &__avatar {
    width: 10em;
    height: 10em;
    background-color: #4b702d;

    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  &__data {
    text-align: start;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__tag-title {
    font-weight: 700;
  }

  &__button {
    width: 100%;
    max-width: 20em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2em;
    color: #fff;
    background-color: #283618;
  }
}

// @media (min-width:1000px) {
// }
