.leaflet-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  margin: 2rem 0;
}

@media (min-width:1000px) {
  .leaflet-container {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    margin: 2rem 0;
  }
}
