.leaflet-container {
  width: 72vw;
  height: 50vh;
  z-index: 0;
  margin: 2rem 0;
}

@media (min-width:1000px) {
  .leaflet-container {
    width: 54vw;
    height: 70vh;
    z-index: 0;
    margin: 2rem 0;
  }
}
