.legal-notice__container {
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.4);
  margin: 15em auto;
  width: 60%;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0.8em;
  background-color: #fcfbfe4b;
  text-align: center;
  

  & h2 {
    font-size: 2em;
    font-weight: 700;
    margin: 1em 1em 0.5em 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  & p {
    margin: 0.8em;
    margin-bottom: 1em;
  }
}
