.header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  height: 5em;
  width: 100vw;

  &__menu {
    margin: 0.8em;
    // cursor: pointer;
  }

  &__logo {
    margin: 0.5em;

    &__img {
      height: 100%;
    }
  }

  &__nav {
    position: absolute;
    left: 0em;
    width: 15em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #606c38;
    background-color: white;
    transform: translateX(-100%);

    &--active {
      transform: translateX(0%);
    }

    &__item {
      padding: 0.8em;
    }
  }

  &__input {
    display: none;
  }

  &__user {
    height: 100%;
    padding: 0.8em;

    &__img {
      height: 100%;
    }
  }
}

// @media (min-width:1000px) {
//   .header {
//     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
//     position: fixed;
//     top: 0;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 5em;
//     width: 100vw;

//     &__menu {
//       display: none;
//     }

//     &__logo {
//       height: 100%;
//       padding: 0.6em;
//     }

//     &__nav {
//       display: flex;
//       color: #606c38;
//       font-size: 1.2em;

//       &__item {
//         margin-right: 1em;
//       }
//     }

//     &__search {
//       display: inline-block;
//       width: 20em;
//       height: 2em;
//       padding: 1em;
//       margin-right: 1em;
//       border-top-left-radius: 1em;
//       border-bottom-right-radius: 1em;
//       border: .1em solid #606c38;
//       color: #606c38;

//       &::placeholder {
//         color: #606c38;
//       }
//     }

//     &__user {
//       height: 100%;
//     }
//   }
// }
