.contact {
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.4);
  margin: 15em auto;
  width: 60%;
  padding: 2em;
  padding-right: 2em;
  border-radius: 0.8em;
  background-color: #fcfbfe4b;
  text-align: center;

  &__button {
    text-align: center;
    margin: 2rem auto;
    margin-bottom: -0.01rem;
    color: #fcfbfe;
    background-color: #283618;
    border: 1px solid #283618;
    width: 10%;
    height: 3em;
    border-radius: .2em;
    font-size: large;
  }
}
