.footer {
  margin: 2em 0;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width:1000px) {
  .footer {
    flex-direction: row;
  }
}
