.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  bottom: 0%;
  margin: 2em auto;
}

@media (min-width:1000px) {
  .footer {
    flex-direction: row;
  }
}
