.spotList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    color: #4b702d;
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em 0;
  }

  &__filter {
    width: 70%;
    display: flex;
    flex-direction: column;

    &__selector {
      width: 100%;
      height: 2rem;
      justify-content: space-around;
      margin-bottom: 2rem;
    }

    &--search {
      height: 2rem;
    }
  }

  &__map {
    width: 72vw;
    height: 50vh;
    z-index: 0;
    margin: 2rem 0;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    background-color: #FCFBFE;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      color: #4b702d;
      font-size: 2em;
      font-weight: 700;
      margin: 0.5em 0;
    }

    &__elem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (min-width:1000px) {
  .spotList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__title {
      text-align: center;
      color: #4b702d;
      font-size: 2em;
      font-weight: 700;
      margin: 0.5em 0;
    }
  
    &__filter {
      width: 30%;
      display: flex;
      flex-direction: column;
  
      &__selector {
        width: 100%;
        height: 2rem;
        justify-content: space-around;
        margin-bottom: 2rem;
      }
  
      &--search {
        height: 2rem;
      }
    }

    &__map {
      width: 54vw;
      height: 70vh;
      z-index: 0;
      margin: 2rem 0;
    }
  
    &__cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      width: 70%;
      background-color: #FCFBFE;
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        text-align: center;
        color: #4b702d;
        font-size: 2em;
        font-weight: 700;
        margin: 0.5em 0;
      }
  
      &__elem {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // (unité fr : fraction, est égal à une fraction du parent, doc : https://css-tricks.com/introduction-fr-css-unit/)
        grid-template-rows: auto;
        grid-gap: 1em;
      }
    }
  }
}
