.profile__form {
  display: flex;
  flex-direction: column;

  &--title {
    text-align: center;
    color: #4b702d;
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em 0;
  }

  &--avatar {
    margin: auto;
    margin-bottom: 1rem;
    width: 100px;
  }

  &--input {
    width: 60%;
    margin: 1rem auto;
    padding: .7em .7em .7em .3em;
    font-size: 0.85em;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 2.5em;
    background-color: #fcfbfe;
  }

  &--selector {
    width: 60%;
    margin: 1rem auto;
  }

  &--button {
    margin: 2rem auto;
    width: 30%;
    height: 2.5em;
    font-size: 1em;
    border-radius: .2em;
    color: #fff;
    background-color: #283618;
    border: 1px solid #283618;
  }
}

@media (min-width:1000px) {
  .profile__form {
    display: flex;
    flex-direction: column;
  
    &--title {
      text-align: center;
      color: #4b702d;
      font-size: 2em;
      font-weight: 700;
      margin: 0.5em 0;
    }
  
    &--avatar {
      margin: auto;
      margin-bottom: 1rem;
      width: 100px;
    }
  
    &--input {
      width: 30%;
      margin: 1rem auto;
      padding: .7em .7em .7em .3em;
      font-size: 0.85em;
      border: none;
      border-bottom: 1px solid #ddd;
      height: 2.5em;
      background-color: #fcfbfe;
    }

    &--selector {
      width: 30%;
      margin: 2rem auto;
    }
  
    &--button {
      margin: 2rem auto;
      width: 10%;
      height: 2.5em;
      font-size: 1em;
      border-radius: .2em;
      color: #fff;
      background-color: #283618;
      border: 1px solid #283618;
    }
  }
}
